@charset "utf-8";
body{background-color: #000;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

.web{width: 100%;}
.web .web-wrap{max-width: 90%; margin: 0 auto; position: relative;}
.web .web-box{width: 22%; height: 725px; background-color: #fff; margin-top: 270px; margin: 50px 0 0 35px; box-shadow: 5px 5px 20px #eee; float: left; position: relative;}
.web .web-box .box-title-1{width: 60%; height: 45px; background-color: #6E96C7; margin-top: -20px; margin-left: -20px; overflow: hidden;}
.web .web-box .box-title-2{width: 60%; height: 45px; background-color: #5E734C; margin-top: -20px; margin-left: -20px;overflow: hidden;}
.web .web-box .box-title-3{width: 60%; height: 45px; background-color: #E83A3B; margin-top: -20px; margin-left: -20px;overflow: hidden;}
.web .web-box .box-title-4{width: 60%; height: 45px; background-color: #FF7F00; margin-top: -20px; margin-left: -20px;overflow: hidden;}
.web .web-box h4{font-size: 18px; text-align: center; line-height: 40px; color: #fff;}
.web .web-box img{width: 100%; margin-top: 10px;}
.web .web-box .web-content{margin: 10px 0 0 25px;}
.web .web-box .web-content h3{font-size: 25px;}
.web .web-box .web-content p{font-size: 22px;}
.web .web-box .web-content .line{width: 25%; height: 2px; background-color: #FF1D25;}
.web .web-box .web-content ul{margin-top: 20px; line-height: 25px;}
.web .web-box .web-content ul li span{font-weight: bold; margin-right: 10px;}

.web .web-box a{font-size: 18px; color: #fff; line-height: 45px;}

.web .web-box .content-box1{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 30px; border: 2px solid #7B9DCA; border-radius: 10px; background-color: #fff; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box1 a{font-size: 18px; color: #7B9DCA; line-height: 45px;}
.web .web-box .content-box2{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #A3BCDA; border-radius: 10px; background-color: #A3BCDA; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box3{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #779CC9; border-radius: 10px; background-color: #779CC9; text-align: center; cursor: pointer; margin-right: 10px;}

.web .web-box .content-box4{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 30px; border: 2px solid #000; border-radius: 10px; background-color: #fff; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box4 a{font-size: 18px; color: #000; line-height: 45px;}
.web .web-box .content-box5{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #46654D; border-radius: 10px; background-color: #46654D; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box6{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #000; border-radius: 10px; background-color: #000; text-align: center; cursor: pointer; margin-right: 10px;}

.web .web-box .content-box4{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 30px; border: 2px solid #000; border-radius: 10px; background-color: #fff; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box4 a{font-size: 18px; color: #000; line-height: 45px;}
.web .web-box .content-box5{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #46654D; border-radius: 10px; background-color: #46654D; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box6{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #000; border-radius: 10px; background-color: #000; text-align: center; cursor: pointer; margin-right: 10px;}

.web .web-box .content-box7{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 30px; border: 2px solid #E2000F; border-radius: 10px; background-color: #fff; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box7 a{font-size: 18px; color: #E2000F; line-height: 45px;}
.web .web-box .content-box8{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #FC566E; border-radius: 10px; background-color: #FC566E; text-align: center; cursor: pointer; margin-right: 10px;}
.web .web-box .content-box9{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 10px; border: 2px solid #E2000F; border-radius: 10px; background-color: #E2000F; text-align: center; cursor: pointer; margin-right: 10px;}

.web .web-box .content-app{max-width: 230px; height: 50px; position: relative; left: 50%; transform: translateX(-50%); margin-top: 95px; border: 2px solid #FF7F00; border-radius: 10px; background-color: #FF7F00; text-align: center; cursor: pointer; margin-right: 10px;}

.web .web-box .web-line{margin-top: 85px;}
.web .web-box .web-line2{margin-top: 60px;}
.web .web-box .web-line3{margin-top: 35px;}



@media screen and (min-width: 641px) and (max-width: 1280px){
    .web .web-box{height: 550px;}
    .web .web-box h4{font-size: 16px;}
    .web .web-box .web-content ul li{display: none;}
    .web .web-box .web-line{margin-top: 55px;}
    .web .web-box .web-line2{margin-top: 40px;}
    .web .web-box .web-line3{margin-top: 20px;}
    .web .web-box{width: 20%;}
    .web .web-box .web-content{text-align: center; margin: 0;}
    .web .web-box .web-content .line{display: none;}
}

@media screen and (max-width: 1000px){
    .web .web-box{width: 40%;}
    .web .web-box a,
    .web .web-box .content-box1 a,
    .web .web-box .content-box4 a,
    .web .web-box .content-box7 a{font-size: 15px; line-height: 40px;}
    .web .web-box .content-box1,
    .web .web-box .content-box2,
    .web .web-box .content-box3,
    .web .web-box .content-box4,
    .web .web-box .content-box5,
    .web .web-box .content-box6,
    .web .web-box .content-box7,
    .web .web-box .content-box8,
    .web .web-box .content-box9,
    .web .web-box .content-app{height: 40px;}

    .web .content-box .web-box{margin-top: 150px; margin-bottom: 50px;}
}

@media screen and (max-width: 640px){
    /* .web .web-box{height: 500px;}
    .web .web-box{width: 40%;}
    .web .web-box a,
    .web .web-box .content-box1 a,
    .web .web-box .content-box4 a,
    .web .web-box .content-box7 a{font-size: 15px; line-height: 40px;}
    .web .web-box .content-box1,
    .web .web-box .content-box2,
    .web .web-box .content-box3,
    .web .web-box .content-box4,
    .web .web-box .content-box5,
    .web .web-box .content-box6,
    .web .web-box .content-box7,
    .web .web-box .content-box8,
    .web .web-box .content-box9,
    .web .web-box .content-app{height: 40px;}

    .web .web-box .web-line{margin-top: 40px;}

    .web .content-box .web-box{margin-top: 150px; margin-bottom: 50px;}

    .web .web-box .web-content ul li{display: none;}
    .web .web-box .web-content{text-align: center; margin: 0;}
    .web .web-box .web-content .line{display: none;} */

    .web .web-box{width: 90%; height: 750px;}

}