@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

.header{width: 100%; height: 164px; position: fixed; background-color: #fff; z-index: 99;}
.header .header-wrap{width: 100%; margin: 0 auto; height: 100%; position: relative;}
.header .logo{text-align: center; margin-top: 20px;}
.header .logo img{width: 240px; height: 100px;}

.header .etc-menu{position: absolute; right: 150px; top: 25px;}
.header .etc-menu img{position: absolute; right: 0px; top: -3px; cursor: pointer; width: 48px;}
.header .etc-menu ul{float: left;}
.header .etc-menu ul li p{
    font-size: 18px; margin: 5px 0 0 10px; color: #7a7a7a; font-weight: 200;
}
.header .etc-menu ul li{width: 560px; height: 40px;border: 2px solid #000; display: none;}


.header .nav{width: 100%; height: 70px; background-color: #fff; padding-bottom: 20px;}
.header .nav ul{width: 1800px; margin: 0 auto; overflow: hidden;}
.header .nav ul li{float: left; width: 300px; text-align: center; height: 70px; line-height: 100px; cursor: pointer;}
.header .nav ul li p{display: inline-block;  width: 100%; font-size: 20px; letter-spacing: -0.03em;}

.header .submenu{width: 100%; padding-top: 60px; height: 330px; background-color: #fff; display: none;}
.header .submenu.on{height: 330px; display: block;}
.header .submenu .submenu-wrap{width: 1800px; margin: 0 auto; text-align: center;}
.header .submenu ul{float: left;width: 360px; text-align: center; padding-top: 60px;}
.header .submenu ul li{line-height: 50px;}
.header .submenu ul li p{width: 100%; font-size: 24px;}
.header .submenu ul li span{width: 100%; font-size: 16px; color: #575757;}
.header .submenu ul li a{width: 100px; font-size: 0; display: inline-block;}


.section{width: 100%; padding-top: 210px; position: relative;}
.section .section-wrap{width: 1640px; margin: 0 auto;}
.section .section-txt{position: absolute; top: 300px;}
.section .section-txt p{color: #fff; font-size: 18px;}
.section .section-txt p:nth-child(1){font-size: 93px; padding-bottom: 20px;}

.section .content-item{position: relative; width: 265px; height: 60px; border: 2px solid #fff; margin-top: 50px;}
.section .content-item ul{text-align: center; padding-top: 12px;}
.section .content-item ul li a{color: #fff; text-align: center; font-size: 24px;}

.section .section-content{width: 1200px; margin: 0 auto;}
.section .txt-1{position: absolute; bottom: 70px;}
.section .txt-1 ul{float: left; overflow: hidden;  text-align: center;}
.section .txt-1 ul li{margin-right: 150px; position: relative;}
.section .txt-1 ul li p{font-size: 16px; color: #fff;}
.section .txt-1 ul li span{font-size: 30px; color: #fff; font-weight: bold; display: inline-block;}
.section .txt-1 span::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #fff;
    margin-left: 85px;
    top: 6px;
}
.section .txt-1 ul:nth-child(5) > li span::after{
    content: "";
    width: 0;
}

.content{width: 100%; margin-top: 80px;}
.content .content-wrap{width: 1200px; margin: 0 auto; position: relative;}
.content .title{width: 580px; padding-top: 60px; padding-bottom: 120px;}
.content .title{font-size: 18px; line-height: 34px; }
.content h3{font-size: 40px;}

.content .imges{position: absolute; left: 590px; top: 0;}
.content .imges img:nth-child(3){width: 610px; height: 309px; margin-top: -5px;}

.content .imges .line{position: absolute; right: 0; top: 400px;}
.content .imges .line p{font-size: 16px; border-bottom: 2px solid #bbbbff; width: 205px; text-align: right;}

.color{width: 1200px; position: relative; overflow: hidden;  margin: 0 auto;}
.color > h3{font-size: 46px; text-align: center; margin-top: 200px; margin-bottom: 70px;}
.color > ul li{margin: 0 auto; float: left; width: 100%; position: relative; height: 732px; font-size: 0; overflow: hidden;}
.color > ul li img{width: 100%; height: 732px;}

.color .car-color{width: 1200px; position: absolute; bottom: 10px; left: 280px;}
.color .car-color > ul li{float: left; margin: 0 30px 10px 30px; width: 45px; cursor: pointer;}
.color .car-color > ul li .white{width: 45px; height: 45px; background-color: #fff; border-radius: 100px; box-shadow: 2px 2px 2px 2px #aaa; border: 1px solid #000; background-color: #d3dce1;}
.color .car-color > ul li .black{width: 45px; height: 45px; background-color: #fff; border-radius: 100px; box-shadow: 2px 2px 2px 2px #aaa; border: 1px solid #000; background-color: #000;}
.color .car-color > ul li .red{width: 45px; height: 45px; background-color: #fff; border-radius: 100px; box-shadow: 2px 2px 2px 2px #aaa; border: 1px solid #000; background-color: #b40808;}
.color .car-color > ul li .gray{width: 45px; height: 45px; background-color: #fff; border-radius: 100px; box-shadow: 2px 2px 2px 2px #aaa; border: 1px solid #000; background-color: #51565c;}
.color .car-color > ul li .yellow{width: 45px; height: 45px; background-color: #fff; border-radius: 100px; box-shadow: 2px 2px 2px 2px #aaa; border: 1px solid #000; background-color: #f7d206;}
.color .car-color > ul li .blue{width: 45px; height: 45px; background-color: #fff; border-radius: 100px; box-shadow: 2px 2px 2px 2px #aaa; border: 1px solid #000; background-color: #060694;}
.color .car-color > ul li > p{font-size: 11px; text-align: center; display: inline-block; font-weight: bold; margin-bottom: 5px; color: #fff;}

.color .car-color > ul li.on p{font-weight: bold; color: #000;}


.store{width: 100%; position: relative; margin-top: 200px;}
.store .store-logo{text-align: center; margin-bottom: 20px;}

.store .store-content{width: 100%;}
.store .store-content img{width: 1903px;}

.store .store-item{width: 1200px; margin: 0 auto; position: relative; bottom: 40px;}
.store .store-item .store-img{position: relative;}
.store .store-item .store-img img{width: 400px; height: 260px; float: left;}

.store .store-txt{width: 1200px; margin: 0 auto; position: relative;}
.store .store-txt ul li{float: left; width: 300px; height: 36px; border: 2px solid #000; text-align: center; border-radius: 10px;margin: 0 46px; margin-top: 5px; cursor: pointer;}
.store .store-txt ul li a{display: inline-block; font-size: 16px; padding-top: 4px;}
.store .store-txt ul li:hover{background-color: #000;}
.store .store-txt ul li:hover a{color: #fff; font-weight: bold;}

.news{width: 100%; margin-top: 500px;}
.news .news-wrap{width: 1200px; margin: 0 auto; position: relative;}
.news .news-wrap h3{text-align: center; color: #000; font-size: 46px;}

.news .news-content{margin: 30px 0 20px 0;}
.news .news-content ul{float: right; width: 600px; height: 338px; background-color: #000;}
.news .news-content ul li{padding: 15px; color: #fff;}
.news .news-content ul li h4{font-size: 30px;}
.news .news-content ul li p{font-size: 1em; margin-bottom: -10px;}
.news .news-content ul li:nth-child(2) p{width: 430px;}

.news .content-news ul{float: left; width: 600px; height: 387px; background-color: #000;}
.news .content-news ul li{padding: 15px; color: #fff;}
.news .content-news ul li h4{font-size: 30px; text-align: right; margin: 10px 0 5px 0;}
.news .content-news ul li p{text-align: right; width: 480px; float: right; margin: 10px 0 10px 0;}

.footer{width: 100%; height: 654px; background-color: #000; margin-top: 200px;}
.footer .footer-wrap{width: 1200px; margin: 0 auto; position: relative;}
.footer .footer-content{width: 100%; height: 264px; position: relative;}
.footer .footer-content ul:nth-child(1){width: 300px;}
.footer .footer-content ul{float: left; width: 250px; margin-top: 30px;}
.footer .footer-content ul:not(:nth-child(1)){padding: 0 25px 0 25px;}
.footer .footer-content ul li{margin: 10px 0;}
.footer .footer-content ul li a{color: #fff; font-weight: 300;}

.footer .footer-item{width: 1200px; position: relative; margin: 0 auto; text-align: center;}
.footer .footer-item ul{position: absolute; left: 50%; transform: translate(-50%);}
.footer .footer-item ul li{float: left;}
.footer .footer-item ul li p{color: #b4b4b4; font-size: 14px;}
.footer .footer-item ul li p::after{
    content: "";
    position: absolute;
    width: 486px;
    height: 1px;
    background-color: #fff;
    bottom: -10px;
    right: -140px;
}
.footer .footer-item img{margin: -10px 0px 0px 200px; cursor: pointer;}
.footer .footer-logo{text-align: center; margin-top: 15px;}

.footer .footer-txt{margin-top: 50px;}
.footer .footer-txt p{color: #fff; font-size: 14px; font-weight: 300; padding: 10px 0;}
.footer .footer-txt p:last-child{margin-top: -20px;}